<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar" ></nav>
<h2>Daftar Obat dan Jumlah Supplier</h2>
<div class = "container-fluid">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Kode</th>
            <th scope="col">Nama</th>
            <th scope="col">Jumlah Supplier</th>
        </tr>
        </thead>
        <tbody>
        <!-- diiisi pake iterasi dari datbase-->
        <tr th:each="obat, iterationStatus : *{listAllObat}"
            th:style="${iterationStatus.even} ? 'color: blue'">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${obat.getKode()}"></td>
            <td th:text="${obat.getNama()}"></td>
            <td th:text="${obat.getObatSupplierModels().size()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>