<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        .card {
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
        }
    </style>

</head>
<body>
<nav th:replace="fragments/fragment :: navbar" ></nav>
<br>
<div class = "container" style="text-align: center;">
    <div class="card" style="width:30vw;text-align: center">
        <div class="card-body">
            <h2 class="card-title thead-dark" style="text-align: center; font-family: Impact;color: black;letter-spacing: 4px">TAMBAH GUDANG</h2>
            <form th:action="@{/gudang/tambah}" th:object="${objekdummy}" method="POST" STYLE="font-family: Roboto">
                <div class="form-group "style="text-align: left;">
                    <label for="exampleFormControlInput1" style="text-align: left;">Nama</label>
                    <input type="text" name="nama"  class="form-control"  id="exampleFormControlInput1" placeholder="ex:JNE" th:field="*{nama}">
                </div>

                <div class="form-group" style="text-align: left;">
                    <label for="exampleFormControlInput2" style="text-align: left;">Alamat</label>
                    <input type="text" name="alamat" class="form-control" id="exampleFormControlInput2" placeholder="ex:Jl. Turi 1, Depok" th:field="*{alamat}">
                </div>
                <div style="text-align: right;">
                     <button type="submit" class="btn btn-success"> Submit </button>
                </div>
            </form>

        </div>
    </div>
</div>



</div>
</body>
</html>