<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar" ></nav>
<h2>Daftar Obat</h2>
<div class = "container-fluid">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Kode</th>
            <th scope="col">Nama</th>
            <th scope="col">Harga</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- diiisi pake iterasi dari datbase-->
        <tr th:each="obat, iterationStatus : *{listAllObat}"
            th:style="${iterationStatus.even} ? 'color: blue'">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${obat.getKode()}"></td>
            <td th:text="${obat.getNama()}"></td>
            <td th:text="${obat.getHarga()}"></td>
            <td>
                <!--
                ide nya tulis alamat nya dan masuk langsung ke blabla by id nya
                misal view by id.. berarti link nya ditambah nanti dengan obat.id
                -->
                <a th:href="@{/obat/view?noReg=} + ${obat.getNomorRegistrasi()}" ><button type="submit" class="btn btn-success">Lihat</button></a>
                <a href='https://www.freecodecamp.org/'><button type="submit" class="btn btn-secondary">Ubah</button></a>
                <a href='https://www.freecodecamp.org/'><button type="submit"  class="btn btn-danger">Hapus</button></a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/obat/tambah}" class="btn btn-primary btn-lg pull-right" role="button">Tambah Obat</a>
</div>
</body>
</html>