<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        .card {
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
        }
    </style>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar" ></nav>
<h2></h2>
<div class = "container" style="text-align: center;">
        <div class="card" style="width:30vw;text-align: center">
            <div class="card-body">
                <h5 class="card-title">Detail Gudang</h5>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Nama:</th>
                        <td th:text="${objekGudang.getNama()}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Alamat:</th>
                        <td th:text="${objekGudang.getAlamat()}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Jumlah obat:</th>
                        <td th:text="${obatDiGudang.size()}"></td>
                    </tr>
                    <tr>
                        <td>
                            <select  name="jenis" class="form-control" id="exampleFormControlSelect2">
                                <option th:value="null" selected>--Pilih Obat--</option>
                                <option th:each="obat: ${obatTidakDiGudang}" th:value="${obat.id}" th:text="${obat.getNama()}" ></option>
                            </select>
                        </td>
                        <td > <button type="submit"> Submit </button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
<!-- untuk daftar obatnya"-->
<div class = "container-fluid" style="text-align: center;">
    <div class="card" style="text-align: center">
        <div class="card-body">
            <h5 class="card-title thead-dark">Daftar Obat</h5>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Kode</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Harga</th>
                </tr>
                </thead>
                <tbody>
                <!-- diiisi pake iterasi dari datbase-->
                <tr th:each="obat, iterationStatus : *{obatDiGudang}"
                    th:style="${iterationStatus.even} ? 'color: blue'">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${obat.getKode()}"></td>
                    <td th:text="${obat.getNama()}"></td>
                    <td th:text="${obat.getHarga()}"></td>
            </table>
        </div>
    </div>

</div>
</body>
</html>